<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClassCoach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C8330451F5FB58900BD2648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8330591F5FB58900BD2648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8330641F5FB58900BD2648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
